<nav class="site-nav container" role="navigation">
  <% link_to 'https://github.com/dnajd/middleman-loaded', class: 'navbar-brand', target: '_blank' do %>
    Middleman Loaded
 <% end %>

  <div class="nav-links">
    <%= link_to 'home','/' %>
    <%= link_to 'docs','/docs/' %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
