<nav class="site-nav" role="navigation">
  <% link_to 'https://github.com/dnajd/middleman-loaded', class: 'navbar-brand', target: '_blank' do %>
    <i class="fa fa-flask"></i>
  <% end %>

  <div class="nav-links">
  <% link_to '/' do %>
    <i class="fa fa-star"></i> Home
  <% end %>
  <% link_to '/docs/' do %>
    <i class="fa fa-eye"></i> Docs
  <% end %>
  </div>
  <div class="mobile-menu"><i class="fa fa-navicon"></i></div>
</nav>
