<nav class="site-nav" role="navigation">
	<% link_to 'https://github.com/dnajd/middleman-loaded', class: 'navbar-brand', target: '_blank' do %>
		<i class="icon-git"></i>
	<% end %>

  <div class="nav-links">
  	<% link_to 'index.html', relative: true do %>
	  <i class="icon-star_empty"></i> Home
	<% end %>
	<% link_to 'bitters.html', relative: true do %>
	  <i class="icon-eye"></i> Bitters
	<% end %>
	<% link_to 'markdown.html', relative: true do %>
	  <i class="icon-share"></i> Markdown
	<% end %>
	  <div class="mobile-menu"><i class="icon icon-reorder"></i></div>
  </div>
</nav>
