<nav class="site-nav" role="navigation">
  <a class="navbar-brand" href="/">
	<i class="icon-git"></i>
  </a>

  <div class="nav-links">
	  <a class="nav-right" href="/bitters"><i class="icon-eye"></i> Bitters</a>
	  <a class="nav-right" href="/markdown" target="_blank"><i class="icon-share"></i> Markdown</a>
	  <a class="nav-right" href="/"><i class="icon-star_empty"></i> Home</a>
	  <div class="mobile-menu"><i class="icon icon-reorder"></i></div>
  </div>
</nav>
