---
title: Bitters Style Guide
---

<%= partial '/docs/subnav' %>

<h1 id="main" class="page-title">Bitters Style Guide</h1>

<nav id="toc"></nav>



<h1 class="section-title" id="headings">Headings</h1>

<% code("html") do %>
<h1>h1. Heading</h1>
<h2>h2. Heading</h2>
<h3>h3. Heading</h3>
<h4>h4. Heading</h4>
<h5>h5. Heading</h5>
<h6>h6. Heading</h6>
<% end %>

<h1>h1. Heading</h1>
<h2>h2. Heading</h2>
<h3>h3. Heading</h3>
<h4>h4. Heading</h4>
<h5>h5. Heading</h5>
<h6>h6. Heading</h6>


<h1 class="section-title" id="paragraphs">Paragraphs</h1>

<% code("html") do %>
<p>
	Lorem ipsum dolor sit amet,
	<a href="#" title="test link">test link</a> adipiscing elit.
</p>

<p>
	Lorem ipsum dolor sit amet, <em>emphasis</em>
	consectetuer adipiscing elit. Nullam dignissim
	convallis est.
</p>
<% end %>

<p>Lorem ipsum dolor sit amet, <a href="#" title="test link">test link</a> adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. </p>

<p>Lorem ipsum dolor sit amet, <em>emphasis</em> consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus. Maecenas ornare tortor. </p>


<h1 class="section-title" id="list-types">List Types</h1>

<h3>Definition List</h3>

<% code("html") do %>
<dl>
	<dt>Definition List Title</dt>
	<dd>This is a definition list division.</dd>
</dl>
<% end %>

<dl>
	<dt>Definition List Title</dt>
	<dd>This is a definition list division.</dd>
</dl>

<h3>Unordered List</h3>

<% code("html") do %>
<ul class="default-ul">
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ul>
<% end %>

<ul class="default-ul">
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ul>

<% code("html") do %>
<ul>
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ul>
<% end %>

<ul>
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ul>

<h3>Ordered Lists</h3>

<% code("html") do %>
<ol class="default-ol">
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ol>
<% end %>

<ol class="default-ol">
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ol>

<% code("html") do %>
<ol>
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ol>
<% end %>

<ol>
	<li>List Item 1</li>
	<li>List Item 2</li>
	<li>List Item 3</li>
</ol>


<h1 class="section-title" id="forms">Forms</h1>

<% code("html") do %>
<fieldset>
	<form></form>
</fieldset>
<% end %>

<fieldset>
	<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui. Nam sit amet sem. Aliquam libero nisi, imperdiet at, tincidunt nec, gravida vehicula, nisl. Praesent mattis, massa quis luctus fermentum, turpis mi volutpat justo, eu volutpat enim diam eget metus.</p>

	<form>
		<h2>Form Element</h2>

		<p>Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Nullam dignissim convallis est. Quisque aliquam. Donec faucibus. Nunc iaculis suscipit dui.</p>

<% code("html") do %>
<p>
	<label for="text_field">Text Field:</label>
	<input type="text" id="text_field">
</p>
<% end %>

		<p>
			<label for="text_field">Text Field:</label>
			<input type="text" id="text_field">
		</p>

<% code("html") do %>
<p>
	<label for="text_area">Text Area:</label>
	<textarea id="text_area"></textarea>
</p>
<% end %>

		<p>
			<label for="text_area">Text Area:</label>
			<textarea id="text_area"></textarea>
		</p>

<% code("html") do %>
<p>
	<label for="select_element">Select Element:</label>
	<select name="select_element">
		<optgroup label="Option Group 1">
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
		</optgroup>
		<optgroup label="Option Group 2">
			<option value="1">Option 1</option>
			<option value="2">Option 2</option>
		</optgroup>
	</select>
</p>
<% end %>

		<p>
			<label for="select_element">Select Element:</label>
			<select name="select_element">
				<optgroup label="Option Group 1">
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
				</optgroup>
				<optgroup label="Option Group 2">
					<option value="1">Option 1</option>
					<option value="2">Option 2</option>
				</optgroup>
			</select>
		</p>

<% code("html") do %>
<p>
	<label for="radio_buttons">Radio Buttons:</label>
	<label>
		<input type="radio" class="radio" name="radio_button" value="radio_1">
		Radio 1
	</label>
	<label>
		<input type="radio" class="radio" name="radio_button" value="radio_2">
		Radio 2
	</label>
</p>
<% end %>

		<p><label for="radio_buttons">Radio Buttons:</label>
			<label>
				<input type="radio" class="radio" name="radio_button" value="radio_1">
				Radio 1
			</label>
			<label>
				<input type="radio" class="radio" name="radio_button" value="radio_2">
				Radio 2
			</label>
		</p>

<% code("html") do %>
<p>
	<label for="checkboxes">Checkboxes:</label>
	<label>
		<input type="checkbox" class="checkbox" name="checkboxes" value="check_1">
		Check 1
	</label>
	<label>
		<input type="checkbox" class="checkbox" name="checkboxes" value="check_2">
		Check 2
	</label>
</p>
<% end %>

		<p>
			<label for="checkboxes">Checkboxes:</label>
			<label>
				<input type="checkbox" class="checkbox" name="checkboxes" value="check_1"> Check 1
			</label>
			<label>
				<input type="checkbox" class="checkbox" name="checkboxes" value="check_2"> Check 2
			</label>
		</p>

<% code("html") do %>
<p>
	<label for="password">Password:</label>
	<input type="password" class="password" name="password">
</p>
<% end %>

		<p>
			<label for="password">Password:</label>
			<input type="password" class="password" name="password">
		</p>

<% code("html") do %>
<p>
	<label for="file">File Input:</label>
	<input type="file" class="file" name="file">
</p>
<% end %>

		<p>
			<label for="file">File Input:</label>
			<input type="file" class="file" name="file">
		</p>


<% code("html") do %>
<p>
	<input class="button" type="submit" value="Submit">
</p>
<% end %>

		<p>
			<input class="button" type="submit" value="Submit">
		</p>
	</form>
</fieldset>


<h1 class="section-title" id="tables">Tables</h1>

<% code("html") do %>
<table cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<th>Table Header 1</th>
			<th>Table Header 2</th>
			<th>Table Header 3</th>
	</tr>
	<tr>
		<td>Division 1</td>
		<td>Division 2</td>
		<td>Division 3</td>
	</tr>
	<tr class="even">
		<td>Division 1</td>
		<td>Division 2</td>
		<td>Division 3</td>
	</tr>
	<tr>
		<td>Division 1</td>
		<td>Division 2</td>
		<td>Division 3</td>
	</tr>
	</tbody>
</table>
<% end %>

<table cellspacing="0" cellpadding="0">
	<tbody>
		<tr>
			<th>Table Header 1</th>
			<th>Table Header 2</th>
			<th>Table Header 3</th>
	</tr>
	<tr>
		<td>Division 1</td>
		<td>Division 2</td>
		<td>Division 3</td>
	</tr>
	<tr class="even">
		<td>Division 1</td>
		<td>Division 2</td>
		<td>Division 3</td>
	</tr>
	<tr>
		<td>Division 1</td>
		<td>Division 2</td>
		<td>Division 3</td>
	</tr>
	</tbody>
</table>


<h1 class="section-title" id="misc-stuff">Misc Stuff</h1>

<% code("html") do %>
<sup>superscript</sup>
<sub>subscript</sub>
<cite>cite</cite>
<acronym title="National Basketball Association">NBA</acronym>
<abbr title="Avenue">AVE</abbr>
<pre><p>This is a Pre with a nest p</p></pre>
<blockquote>
	<p> This stylesheet is going to help so freaking much.</p>
	<cite>Blockquote</cite>
</blockquote>
<% end %>

<sup>superscript</sup><br />
<sub>subscript</sub><br />
<cite>cite</cite><br />
<acronym title="National Basketball Association">NBA</acronym><br />
<abbr title="Avenue">AVE</abbr><br />
<pre><p>This is a Pre with a nest p</p></pre>

<blockquote>
	<p> This stylesheet is going to help so freaking much.</p>
	<cite>Blockquote</cite>
</blockquote>

<h1 class="section-title" id="flashes">Flashes</h1>

<% code("html") do %>
<div class="success">
	<span>This is a success message <a href="#">with a link</a></span>
</div>
<div class="error">
	<span>This is an error message <a href="#">with a link</a></span>
</div>
<div class="notice">
	<span>This is an notice message <a href="#">with a link</a></span>
</div>
<% end %>

<div class="success">
	<span>This is a success message <a href="#">with a link</a></span>
</div>
<div class="error">
	<span>This is an error message <a href="#">with a link</a></span>
</div>
<div class="notice">
	<span>This is an notice message <a href="#">with a link</a></span>
</div>



<% content_for :js do %>
<script>
tableOfContents();
</script>
<% end %>
