// middleman-loaded base styles

.container{
	max-width: 1000px;
	margin-left: auto;
	margin-right: auto;
	padding: 20px;
}
.site-header {
	background-color: $white-smoke;
}
.site-main{}
.site-footer{}