---
title: Middleman is Loaded
---

<h1>Middleman is Loaded</h1>
<%= image_tag 'mm-logo.png' %>

<h2>What's New</h2>

<p>Changed icon font library to <a href="http://fortawesome.github.io/Font-Awesome/icons/">Font Awesome</a></p>

<i class="fa fa-1x fa-flash"></i>
<i class="fa fa-2x fa-flash"></i>
<i class="fa fa-3x fa-flash"></i>
